body {
	font-family: 'Baloo Chettan', cursive;
}

h1, h2 {
	text-align: center;
	text-transform: uppercase;
}

.placement {
	text-align: center;
	margin: 0 0 20px;
}

.board-container {
	display: inline-block;
	width: 500px;
}

.board {
    width: 390px;
	margin: 0 auto 25px;
	border: 1px solid black;
}

.column {
	height: 35px;
	width: 35px;
	border: 2px solid black;
	display: table-cell;
	background-color: #80c4e2;
}

.ship-block {
	background-color: gray;
}

.select-ship {
	font-family: 'Baloo Chettan', cursive;
	background: #80c4e2;
    outline: 0;
    border: 0;
    padding: 6px 10px;
    cursor: pointer;
}

.hit {
	background: red;
}

.miss {
	background: white;
}

.selected {
	background: #0f7fb1;
}

label {
	cursor: pointer;
}

#message {
	height: 20px;
}

#boardArena {
	margin: auto;
	width: 1020px;
}